@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 2 6 23;
    --background-secondary: 2 8 26;
    --card-background: 11 17 32;
    --foreground: 229 231 235;
    --muted: 156 163 175;
    --accent-blue: 37 99 235;
    --accent-cyan: 56 189 248;
    --border: 30 41 59;
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
